<a href="https://colab.research.google.com/github/mpbeck/ANS-128-GP-The-Explorers-/blob/main/code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Change runtime to R
system("git clone https://github.com/mpbeck/ANS-128-GP-The-Explorers-.git")

In [20]:
library(tidyverse)
library(dplyr)
library(lubridate)
data <- read.csv("/content/ANS-128-GP-The-Explorers-/Avian Influenza (HPAI).csv")
class(data)

[1] "data.frame"

In [23]:
# Data cleaning & regression analysis
#summary(data$target_H5_HPAI)
data <- data %>%
  mutate(
    Common_Name = str_replace_all(Common_Name, " ", "_"),
    Year = as.integer(as.character(Year)),
    Month = as.integer(as.character(Month)),
    Day = as.integer(as.character(Day)),
    date = make_date(Year, Month, Day),
    day_of_year = yday(date)
  )

head(data[, c("Year", "Month", "Day", "date", "day_of_year")]) # Converted date to number of days in the given year

num_species <- data %>%
  distinct(Common_Name) %>%
  nrow()
length(unique(data$Common_Name)) == num_species # 410 species

  Year Month Day date       day_of_year
1 2015 9     15  2015-09-15 258
2 2015 9     15  2015-09-15 258
3 2015 9     15  2015-09-15 258
4 2015 9     15  2015-09-15 258
5 2015 9     15  2015-09-15 258
6 2015 9     15  2015-09-15 258

[1] TRUE